nav {
	position: absolute;
}

#myCarousel{
	padding-top: 50px;
	position: relative;
}

#top-rated{
	padding-top: 30px;
}

.img-circle{
	border-radius: 0;
}

#sectionheader {
	text-align: center;
	padding-top: 10px;
}

#textbox{
	margin: auto;
	width:500px;
}

#navbar {
	text-align: center;
}

#backdropimg{
	width:100%;
	height: 60%;
}

#movieimg {
	width: 100%;
	height:100%;
}

#comment-form{
	text-align: center;
}

#comments{
	text-align: center;
}